<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>18/04/20 10:49:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoReports.setUp()[pri:0, instance:application_tests.DemoReports@27efef64]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/04/20 10:49:09</td>   <td>2509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoReports.seleniumTest()[pri:0, instance:application_tests.DemoReports@27efef64]">seleniumTest</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>18/04/20 10:49:10</td>   <td>2959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoReports.afterMethod()[pri:0, instance:application_tests.DemoReports@27efef64]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
</table>
